<div class="faq-container">
  <h1>CAMUP Frequently Asked Questions</h1>

  <h2>1. What states does CAMUP currently cover?</h2>
  <p>
    CAMUP's database includes missing and unidentified persons cases from the
    following states: Louisiana, Arkansas, Texas and Mississippi.
  </p>

  <h2>2. If I think I have a relevant lead or information what should I do?</h2>
  <p>
    If you believe that you have information that may be useful to authorities,
    please submit a request on the
    <a
      href="https://namus.nij.ojp.gov/contact"
      target="_blank"
      rel="noopener noreferrer"
    >
      NAMUS website </a
    >.
  </p>

  <h2>3. Will you expand to other states?</h2>
  <p>Yes, CAMUP will eventually include the rest of the states.</p>
</div>
