<h1>Search by Missing Persons</h1>

<form [formGroup]="search">
    <h2>Case Numbers</h2>
    <div class="field-group">
        <div>
            <label for="namus#">Case #</label><br>
            <input id="namus#" type="text" formControlName="namusNum"><br>
        </div>
        <div>
            <label for="ncmec#">NCMEC #</label><br>
            <input id="ncmec#" type="text" formControlName="ncmecNum"><br>
        </div>
    </div>

    <h2>Demographics</h2>
    <div class="field-group">
        <div>
            <label for="fname">Legal First Name</label><br>
            <input id="fname" type="text" formControlName="firstName"><br>
        </div>
        <div>
            <label for="mname">Middle Name</label><br>
            <input id="mname" type="text" formControlName="middleName"><br>
        </div>
        <div>
            <label for="lname">Legal Last Name</label><br>
            <input id="lname" type="text" formControlName="lastName"><br>
        </div>
    </div>
    <div class="field-group">
        <div>
            <label for="age-current">Current Age</label><br>
            <input id="age-current" type="text" formControlName="ageCurrent"><br>
        </div>
        <div>
            <label for="age-missing">Age Missing</label><br>
            <input id="age-missing" type="text" formControlName="ageMissing"><br>
        </div>
    </div>
    <div class="field-group">
        <div>
            <label for="sex">Sex</label><br>
            <select id="sex" formControlName="sex">
                <option></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Unsure">Other/Unknown</option>
            </select>
        </div>
        <div>
            <label for="race">Race</label><br>
            <select id="race" formControlName="race">
                <option></option>
                <option value="White / Caucasian">White/Caucasian</option>
                <option value="Black / African American">Black/African American</option>
                <option value="Asian">Asian</option>
                <option value="Hawaiian / Pacific Islander">Hawaiian/Pacific Islander</option>
                <option value="Hispanic / Latino">Hispanic/Latino</option>
                <option value="American Indian / Alaska Native">American Indian/Native Alaskan</option>
                <option value="Unknown">Other/Unknown</option>
            </select>
        </div>
        <div>
            <label for="tribal-affiliation">Tribal Affiliation</label><br>
            <select id="tribal-affiliation" formControlName="tribalAffiliation">
                <option></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
    
    <h2>Physical Appearance</h2>
    
    <h2>Circumstances</h2>
    <div class="field-group" style="justify-content: space-around">
        <div>
            <label for="date-last-contact">Date of last contact</label><br>
            <input id="date-last-contact" type="date" formControlName="dateLastContact">
        </div>
    </div>
    <div class="field-group" style="padding-bottom: 2px">
        <label>Last Known Location:</label>
    </div>
    <div class="field-group">
        <div>
            <label for="state-last">State</label><br>
            <input id="state-last" type="text" formControlName="stateLast">
        </div>
        <div>
            <label for="city-last">City</label><br>
            <input id="city-last" type="text" formControlName="cityLast">
        </div>
        <div>
            <label for="county-last">County/Parish</label><br>
            <input id="county-last" type="text" formControlName="countyLast">
        </div>
    </div>
    <div class="submit-button">
        <button (click)="onSubmit()" routerLink="/search/mp/results" type="submit">Search</button>
    </div>
</form>