<div class="navbar">
    <div class="logo">
        <a routerLink="/"><img ngSrc="logo.png" width="221" height="63" /></a>
    </div>
  
    <a routerLink="/">HOME</a></li>
    <a routerLink="faq">FAQ</a>
    <div class="dropdown">
        <button class="dropbtn">SEARCH</button>
        <div class="dropdown-content">
            <a routerLink="search/mp">MISSING</a>
            <a routerLink="search/up">UNIDENTIFIED</a>
            <a routerLink="search/persons">COMPARISON</a>
        </div>

    </div>
    <a routerLink="contact">CONTACT</a>
</div> 