.navbar {
    overflow: hidden;
    background-color: #600707;
    font-family: Arial;
}  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 24px 30px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 24px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
    background-color: #460505;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #600707;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    padding: 24px 30px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
} 
.logo a {
    padding: 0px;
}