* {
    font-family: Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #600707;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 30px;
    text-decoration: none;
}
.logo {
    font-weight: bold;
    padding: 0px 42px;;
    text-align: left;
}
.pages li a:hover {
    background-color: #460505;
}