<h1>Search Results</h1>

<div class="table">
    <table>
        <tr>
            <th>Case #</th>
            <th>Name</th>
            <th>Last seen</th>
        </tr>
        <tr>
            <td><a routerLink="/search/detail">0000</a></td>
            <td>Jane Doe</td>
            <td>01/01/2003</td>
        </tr>
        <tr>
            <td>0001</td>
            <td>John Smith</td>
            <td>01/01/2004</td>
        </tr>
        <tr>
            <td>0002</td>
            <td>Jane Smith</td>
            <td>01/01/2005</td>
        </tr>
        <tr>
            <td>0003</td>
            <td>John Doe</td>
            <td>01/01/2006</td>
        </tr>
    </table>
</div>