<div class="contact-container">
  <h1>Contacts</h1>

  <table class="contact-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Major</th>
        <th>Responsibilities</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Abby Bourgeoius</td>
        <td>C00447695&#64;louisiana.edu</td>
        <td>Computer Science: Cybersecurity</td>
        <td>Backend and Support</td>
      </tr>

      <tr>
        <td>Alexander Moline</td>
        <td>C00499767&#64;louisiana.com</td>
        <td>Computer Science: Cloud Computing</td>
        <td>Backend and Support</td>
      </tr>

      <tr>
        <td>Jane Guilbeau</td>
        <td>C00469611&#64;louisiana.edu</td>
        <td>Computer Science: Scientific Computing</td>
        <td>Frontend and Support</td>
      </tr>

      <tr>
        <td>Maloni Castille</td>
        <td>C00509294&#64;louisiana.edu</td>
        <td>Informatics: Business</td>
        <td>Business Aspects</td>
      </tr>

      <tr>
        <td>Logan Meaux</td>
        <td>C00438197&#64;louisiana.edu</td>
        <td>Informatics: Cybersecurity</td>
        <td>Team Lead</td>
      </tr>
    </tbody>
  </table>
</div>
