<!-- contact.component.html -->
<section class="contact-container">
  <h1>Meet The Team</h1>

  <div class="contact-card-group">
    <div class="contact-card">
      <h2 class="contact-name">Abby Bourgeoius</h2>
      <div class="contact-details">
        <p>
          <strong>Email:</strong><br /><a href="mailto:C00447695@louisiana.edu"
            >C00447695&#64;louisiana.edu</a
          >
        </p>
        <p><strong>Major:</strong><br />Computer Science: Cybersecurity</p>
        <p><strong>Contributions:</strong><br />Backend and Support</p>
      </div>
    </div>

    <div class="contact-card">
      <h2 class="contact-name">Alexander Moline</h2>
      <div class="contact-details">
        <p>
          <strong>Email:</strong><br /><a href="mailto:C00499767@louisiana.com"
            >C00499767&#64;louisiana.com</a
          >
        </p>
        <p><strong>Major:</strong><br />Computer Science: Cloud Computing</p>
        <p><strong>Contributions:</strong><br />Backend and Support</p>
      </div>
    </div>

    <div class="contact-card">
      <h2 class="contact-name">Jane Guilbeau</h2>
      <div class="contact-details">
        <p>
          <strong>Email:</strong><br /><a href="mailto:C00469611@louisiana.edu"
            >C00469611&#64;louisiana.edu</a
          >
        </p>
        <p>
          <strong>Major:</strong><br />Computer Science: Scientific Computing
        </p>
        <p><strong>Contributions:</strong><br />Frontend and Support</p>
      </div>
    </div>

    <div class="contact-card">
      <h2 class="contact-name">Maloni Castille</h2>
      <div class="contact-details">
        <p>
          <strong>Email:</strong><br /><a href="mailto:C00509294@louisiana.edu"
            >C00509294&#64;louisiana.edu</a
          >
        </p>
        <p><strong>Major:</strong><br />Informatics: Business</p>
        <p><strong>Contributions:</strong><br />Business Aspects</p>
      </div>
    </div>

    <div class="contact-card">
      <h2 class="contact-name">Logan Meaux</h2>
      <div class="contact-details">
        <p>
          <strong>Email:</strong><br /><a href="mailto:C00438197@louisiana.edu"
            >C00438197&#64;louisiana.edu</a
          >
        </p>
        <p><strong>Major:</strong><br />Informatics: Cybersecurity</p>
        <p><strong>Contributions:</strong><br />Team Lead</p>
      </div>
    </div>
  </div>
</section>
