<h1>Case 0000</h1>
<div class="main-container">
    <a routerLink="/search/results"><- Return to search</a>
    <div class="portrait">
        <img ngSrc="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" width="300" height="300"/>
    </div>
    <div class="section-header">
        <h2>Demographics</h2>
    </div>
    <div class="details">
        <div class="detail-row">
            <div class="attribute">
                <span>Legal First Name</span><br>Jane
            </div>
            <div class="attribute">
                <span>Middle Name</span><br>Dolby
            </div>
            <div class="attribute">
                <span>Legal Last Name</span><br>Doe
            </div>
        </div>
        <div class="detail-row">
            <div class="attribute">
                <span>Missing Age</span><br>20
            </div>
            <div class="attribute">
                <span>Current Age</span><br>21
            </div>
        </div>
        <div class="detail-row">
            <div class="attribute">
                <span>Chosen Name/Nickname/Alias</span><br>--
            </div>
        </div>
        <div class="detail-row">
            <div class="attribute">
                <span>Sex</span><br>Female
            </div>
        </div>
        <div class="detail-row">
            <div class="attribute">
                <span>Race/Ethnicity</span><br>White/Caucasian
            </div>
        </div>
    </div>
    <div class="section-header">
        <h2>Circumstances</h2>
    </div>
    <div class="details">
        <div class="detail-row">
            <div class="attribute">
                <span>Date of Last Contact</span><br>January 1, 2024
            </div>
            <div class="attribute">
                <span>Last Known Location</span><br>Lafayette, Louisiana 70508
            </div>
        </div>
        <div class="detail-row">
            <div class="attribute">
                <span>Circumstances of Disappearance</span><br>--
            </div>
        </div>
    </div>
    <div class="section-header">
        <h2>Physical Description</h2>
    </div>
    <div class="details">
        <div class="detail-row">
            <div class="attribute">
                <span>Height</span><br>5'5"
            </div>
            <div class="attribute">
                <span>Weight</span><br>120 lbs
            </div>
        </div>
        <div class="detail-row">
            <div class="attribute">
                <span>Hair Color</span><br>Brown
            </div>
            <div class="attribute">
                <span>Eye Color</span><br>Blue
            </div>
        </div>
    </div>
</div>