html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #282323;
    color: white;
}
h1 {
    font-size: 48px;
}
.content {
    margin: 40px
}