/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: #282323;
    color: white;
    font-family: 'Georgia', 'Times New Roman', Times, serif
}
h1 {
    font-size: 48px;
}