.field-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 7in;
    padding: 20px;
    margin-left: 1cm;
    background: #4e4444;
}
.submit-button {
    display: flex;
    justify-content: center;
    max-width: 7in;
    padding: 20px;
}