<div class="text-box">
    <h1>Find matches. Make a difference.</h1>
    <p>Comparing missing and unidentified cases just got easier.</p>
  </div>

<div class="selection-box">
    <h1>Start now!</h1>
    <button (click)="goToPage('search')">Search Missing Persons</button> <button (click)="goToPage('search')">Search Unidentified Persons</button> <button (click)="goToPage('search')">Database Comparison</button>
</div>  

<div class="info-box">
    <h1>What is CAMUP?</h1>
    <p>Cross-Agency Missing and Unidentified Persons (CAMUP) is a searchable database for both missing and unidentified persons in Louisiana, 
        Texas, Arkansas and Mississippi. CAMUP makes identifying similarities and potential matches between missing and unidentified persons cases
        simpler and easier. With a side-by-side format, users can easily search, filter, and compare missing cases with unidentified cases. 
        With modern DNA testing making the identification process easier, CAMUP is a useful tool for finding potential matches within the two categories 
        to be further investigated and tested, bringing both missing and unidentified cases another step closer to having closure.</p>
    <p>On CAMUP, we provide the options to search missing persons, unidentified persons or use our simple database comparison search for efficient
        comparison between both missing and unidentified persons. Whether you're an investigator or a websleuth, CAMUP may be the tool you need
    </p>
</div>